/* _Layout.cshtml.css */

/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
  --primary-color: #f0e6e6;
  --secondary-color: #e6f0e6;
  --accent-color: #e6e6f0;
  --text-color: #4a4a4a;
  --link-color: #6a6a8e;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Removed Arial */
  color: var(--text-color);
  background-color: var(--primary-color);
  margin-bottom: 60px; /* Ensure space for footer */
}

/* Navbar Styles */
.navbar {
  background-color: var(--secondary-color) !important;
}

.navbar-brand, .nav-link {
  color: var(--link-color) !important;
}

.nav-link:hover {
  color: var(--text-color) !important;
}

/* Button Focus Styles */
.btn:focus, 
.btn:active:focus, 
.btn-link.nav-link:focus, 
.form-control:focus, 
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Footer Styles */
.footer {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 1rem 0;
  margin-top: 2rem;
  position: relative; /* Changed to relative */
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.footer a {
  color: var(--link-color);
}
