:root {
  --primary-color: #4a7c59; /* Primary color */
  --secondary-color: #8cb369; /* Secondary color */
  --accent-color: #f4e285; /* Accent color */
  --text-color: #333; /* Text color */
  --link-color: #0077cc; /* Link color */
  --background-color: #f9f9f9; /* Background color */
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin-bottom: 60px;
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: var(--accent-color) !important;
}

.btn-primary {
  color: #fff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer {
  position: relative;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 1rem 0;
  margin-top: 2rem;
  white-space: nowrap;
  line-height: 60px;
}

.footer a {
  color: var(--link-color);
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/garden-hero.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 6rem 0;
  text-align: center;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
  background-color: white;
}

.featured-products h2 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.carousel-item img {
  object-fit: cover;
  height: 500px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border-radius: 5px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  /* fill: invert(1);*/
  /* fill: black;*/
}

.btn:focus,
.btn:active:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 3rem 2rem;
  }
}
